body{
    font-family: 'courier New' , courier,monospase;

}

hi{
    text-align: center;
    color:aqua;
}

p{
    color: blueviolet;

    p{
      font-family: arial;
      font-size: 20px;
      font-weight:
      font-style::
      font-variant:

    }
}